	/* 
    Document   : index
    Created on : 27-feb-2013, 10:03:46
    Author     : Gabriel
    Description:
        CSS for Fill documents section.
*/

/*article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}*/

@font-face {
    font-family: 'danielregular';
    src: url('daniel-webfont.eot');
    src: url('daniel-webfont.eot?#iefix') format('embedded-opentype'),
         url('daniel-webfont.woff') format('woff'),
         url('daniel-webfont.ttf') format('truetype'),
         url('daniel-webfont.svg#danielregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

root { 
    display: block;
}

body {
    font-family:arial,Verdana,helvetica,sans-serif,danielregular;
    font-size:12px;
	background: #C8C8C8;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	vertical-align: top;
}
body.noScroll {
	overflow: hidden;
}
#content {
	float: none;
    width: 100%;
}

textarea {
	resize: none;
}

.sendSignButton {
	font: normal 20px arial;
	background: #005826;
	color: white;
	padding: 15px 50px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.sendSignButton2 {
	font: normal 20px arial;
	background: #6E6E6E;
	color: white;
	padding: 15px 50px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.sendSignButton.activeButton {
	background: #28902D;
}
.activeButton:hover  {
	font: bold 20px arial;
	cursor: pointer;
}

/* SECTION: Top bar */
#topDiv {
	position: fixed;
	top: 0;
	width: 100%;
	height: 160px;
	background: #FFFFFF;	
	box-shadow: 5px 5px 5px #888888;
	z-index: 16000;
}
	#topDiv #topMainDiv #photoContainer {
		margin-bottom: 10px;
	}
		#topDiv #topMainDiv  #photoContainer #sampleTitle {
			height: 90px;
		}

.stepField {
	position: relative;
	display: inline-block;
	font: bold 15px Verdana;
	padding: 10px;
	padding-left: 20px;
	margin: -1px;
}
.stepSelectableField:hover {
	cursor: pointer;
}
.stepFieldDisabled {
	color: #CCCCCC;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	cursor: text;
	z-index: 16001;
}
.stepFieldSelected {
	color: #F8F8F8;
	background: #1086DE ;
	border: 1px solid #1086DE;
	cursor: text;
	-moz-box-shadow: 5px 5px 8px #888;
	-webkit-box-shadow: 5px 5px 8px #888;
	box-shadow: 5px 5px 8px #888;
	z-index: 16002;
}
	/* Arrow for selected field */
	.stepFieldSelected:after, .stepFieldSelected:before, .stepFieldDisabled:after, .stepFieldDisabled:before {
		left: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		z-index: 16003;
	}
	.stepFieldSelected:after {
		border-color: rgba(136, 183, 213, 0);
		border-left-color: #1086DE;
		border-width: 19px;
		top: 50%;
		margin-top: -19px;
	}
	.stepFieldSelected:before {
		border-color: rgba(194, 225, 245, 0);
		border-left-color: #1086DE;
		border-width: 20px;
		top: 50%;
		margin-top: -20px;
	}
	.stepFieldDisabled:after {
		border-color: rgba(255, 255, 255, 0);
		border-left-color: #FFFFFF;
		border-width: 19px;
		top: 50%;
		margin-top: -19px;
	}
	.stepFieldDisabled:before {
		border-color: rgba(204, 204, 204, 0);
		border-left-color: #CCCCCC;
		border-width: 20px;
		top: 50%;
		margin-top: -20px;
	}

.stepFieldSelected.stepFieldCompleted {
	background: #28902D;
}
	.stepFieldSelected.stepFieldCompleted:after {
		border-color: rgba(40, 144, 95, 0);
		border-left-color: #28902D;
	}
	.stepFieldSelected.stepFieldCompleted:before {
		border-color: rgba(40, 144, 95, 0);
		border-left-color: #28902D;
	}
	
/* SECTION: Viewer */
	#content #document {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 700px;
	}

		#content #document #innerDocument {
			margin-top: 160px;
			margin-bottom: 80px;
		}

		#content #document #innerDocument img {
			width: 700px;
		}
		
		#content #document #innerDocument .PDFPage {
			position: relative;
			clear: both;
			margin-top: 30px;
		}

			#content #document #innerDocument .PDFPage .PDFField {
				vertical-align: top;
				border: thin solid black;
				background: #F8F8F8;
				text-align: left;
			}
			
				#content #document #innerDocument .PDFPage .PDFField .inputPDFField {
					vertical-align: top;
				}
				#content #document #innerDocument .PDFPage .PDFField .commentPDFField,
				#content #document #innerDocument .PDFPage .PDFField .emailPDFField,
				#content #document #innerDocument .PDFPage .PDFField .signatureSpan,
				#content #document #innerDocument .PDFPage .PDFField .signatureCanvas {
					width: 100%;
					height: 100%;
					padding: 0;
					margin: 0;
					border: none;
				}
				#content #document #innerDocument .PDFPage .PDFField .signPDFField {
					width: 16px;
					height: 16px;
				}
				#content #document #innerDocument .PDFPage .PDFField .inputPDFFieldError {
					background: #EC5D5D;
				}

/* SECTION: Bottom bar*/
	#content #bottomDiv {
		display: table;
		position: fixed;
		text-align: center;
		bottom: 0;
		width: 100%;
		height: 80px;
		background: rgba(0, 0, 0, 0.8);
		z-index: 16000;
	}
	#content #bottomDiv #bottomDivMessage {
		display: table-cell;
		vertical-align: middle;
		top: 50%;
	}
		#content #bottomDiv #bottomDivMessage #bottomMessage {
			display: block;
			font: bold 20px Verdana;
			color: white;
		}
		#content #bottomDiv #bottomDivMessage #bottomMessage .bottomMessageLink {
			color: #1086DE;
			text-decoration: underline;
		}

.qtip {
	max-width: 500px !important;
	min-width: 350px !important;
}

/*! Send sign tooltip style */
.qtip-sendsign {
	background-color: rgba(0, 0, 0, 0.6);
	border-style: none;
	color: #FFFFFF;
	padding: 2px 2px 2px 2px;
}
	.qtip-sendsign .tooltipTitle {
		background-color: #1086DE;
		font: bold 12px Verdana;
		padding: 10px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
		border-radius: 4px 4px 4px 4px;
	}
	
	.qtip-sendsign-completed .tooltipTitle {
		background-color: #28902D;
	}

	.qtip-sendsign .tooltipNav {
		float: right;
		font: normal 9.5px Verdana !important;		
	}

		.qtip-sendsign .tooltipNav span {
			margin-left: 3px;
		}

		.qtip-sendsign span:hover {
			font: bold 9.5px Verdana !important;
			cursor: pointer;
		}

	.qtip-sendsign .tooltipContent {
		font: bold 10.5px Verdana;
		margin-top: 5px;
	}

/* WELCOME Page */
.welcomeBody {
	background: #000000;
	text-align: center;
	vertical-align: top;
	color: #FFFFFF;
}

.welcomeContent {
	margin-right: auto;
	margin-left: auto;
	width: 700px;
}

.welcomeContent a {
	color: #FFFFFF;
}

.welcomeDiv {
	height: 100%;
	width: 100%;
	margin-top: 160px;
	margin-bottom: 80px;
	text-align: left;
}

.welcomeInputDiv{
	margin-top:400px;
	margin-bottom: 10px;
}

.passInput {
	font: bold 30px arial;
	width: 500px;
	margin-left: 10px;
}

.welcomeMessage {
	margin-left: 30px;
	margin-top: 10px;
	font: normal 15px arial;
}

	.qtip-welcome {
		background-color: #1086DE;
		border-color: #FFFFFF;
		color: #FFFFFF;
		padding: 10px 10px 10px 10px;
		text-align: left;
	}

		.qtip-welcome .qtip-titlebar {
			background-color: #1086DE;
			font: bold 20px Verdana;
			padding: 5px;
		}

		.qtip-welcome .qtip-content {
			font: normal 15px Verdana;
			margin-top: 5px;
		}

/* FINISH Page */
.finishBody {
	background: #000000;
	text-align: center;
	vertical-align: top;
	color: #FFFFFF;
}

.finishContent {
	background-color: #1086DE;
	border: 1px solid #FFFFFF;
	padding: 30px;
	margin-top: 300px;
	margin-right: auto;
	margin-left: auto;
	width: 700px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

.finishMessage {
	margin-left: 30px;
	font: normal 30px arial;
}

/* SECTION: Sign document */
.signatureBackgroundDiv {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .0;
        -webkit-opacity: .0;
        -moz-opacity: .0;
        filter: alpha(opacity=0);
        z-index: 17000;
}
.signatureDiv {
	position: fixed;
	top: 160px;
	bottom: 80px;
	left: 0;
	right: 0;
	color:#FFFFFF;
	background-color:rgba(0,0,0,0.8);
	padding:12px;
	z-index: 17001;
}
	.signatureDiv .signatureTitle {
		text-align: left;
		background-color: #1086DE;
		font: bold 12px Verdana;
		padding: 10px;
		width: 750px;
		margin: 0 auto;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
		border-radius: 4px 4px 4px 4px;
	}

		.signatureDiv .signatureTitle  .signatureNav {
			float: right;
			font: normal 9.5px Verdana !important;		
		}
		
			.signatureDiv .signatureTitle  .signatureNav span {
				margin-left: 10px;
			}

			.signatureDiv .signatureTitle  .signatureNav span:hover {
				font: bold 9.5px Verdana !important;
				cursor: pointer;
			}

	.signatureDiv .signatureContent {
		width: 750px;
		padding-top: 20px;
		text-align: left;
		margin: 0 auto;
		font: bold 10.5px Verdana;
	}
		.signatureDiv .signatureContent div {
			margin: 0 0 20px 0;
		}
			.signatureDiv .signatureContent .signatureInputDiv {
				width: 100%;
			}
			.signatureDiv .signatureContent .signatureInputDiv  .signatureInput {
				width: 98%;
			}
			.signatureDiv .signatureContent .signatureCanvasDiv {
				position: relative;
				width: 100%;
				height: 150px;
				border: 1px solid #000000;
				background-color: white;
			}			
				.signatureDiv .signatureContent .signatureCanvasDiv .signatureSpanDiv {
					width: 100%;
					height: 50px;
					margin-top: 50px;
					padding: 10px;
				}
				.signatureDiv .signatureContent .signatureCanvasDiv .signatureSpan {
					color: #5D5D5D;
				}
				.signatureDiv .signatureContent .signatureCanvasDiv .signatureCanvasWrapper {
					position: absolute;
					top: 0px;
					width: 100%;
					height: 150px;
					background-color: white;
					opacity: .0;
					-webkit-opacity: .0;
					-moz-opacity: .0;
					filter: alpha(opacity=0);
					z-index: 17003;
				}
				.signatureDiv .signatureContent .signatureCanvasDiv .signatureCanvas {
					position: absolute;
					top: 0px;
					z-index: 17004;					
				}			
			.signatureDiv .signatureContent .signatureDateDiv {
				position: relative;
				top: -50px;
				left: 20px;
				width: 90%;
				color: #7CB5E2;
				z-index: 17002;
			}
			.signatureDiv .signatureContent .signatureButtonsDiv {
			}			
				.signatureDiv .signatureContent .signatureButtonsDiv .signatureReset {
					margin-left: 5px;
				}
			.signatureDiv .signatureContent .signatureNotSigning {
				float: right;
			}
			.signatureDiv .signatureContent a {
				color: #FFFFFF;
			}
			
.signatureSpanHandWriting {
	font: normal 30px danielregular;
}
.spanClickable:hover {
	cursor: pointer;
}
