/* 
    Document   : index
    Created on : 27-feb-2013, 10:03:46
    Author     : Gabriel
    Description:
        CSS for Fill documents section.
*/

/* SECTION: Top bar */

/* Arrow for selected field */
/* SECTION: Viewer */
/* SECTION: Bottom bar*/
#bottomDiv {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
}

/*! Send sign tooltip style */
.qtip-sendsign {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
}

/* WELCOME Page */

/* SECTION: Sign document */
.signatureDiv {
	/*background-color: black;*/
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
}