/* 
    Document   : index
    Created on : 27-feb-2013, 10:03:46
    Author     : Gabriel
    Description:
        CSS for Fill documents section.
*/

/* SECTION: Top bar */

/* Arrow for selected field */
/* SECTION: Viewer */
/* SECTION: Bottom bar*/
#bottomDiv {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#60000000,endColorstr=#60000000);
}

/*! Send sign tooltip style */
.qtip-sendsign {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#60000000,endColorstr=#60000000);
	border-color: rgb(0, 0, 0);
}

/* WELCOME Page */

/* SECTION: Sign document */
