/* SECTION: Top bar */
#topDiv {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#888888')";
}
/* Arrow for selected field */
/* SECTION: Viewer */
/* SECTION: Bottom bar*/
#bottomDiv {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
}

/*! Send sign tooltip style */
.qtip-sendsign {
	background: transparent;
}
.qtip-sendsign .qtip-tip {
    filter: alpha(opacity=50);
}
.qtip-sendsign .qtip-content {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
}
/* WELCOME Page */

/* SECTION: Sign document */
.signatureDiv {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
}