#compositionBody {
  font-family: sans-serif;
  background: #FFFFFF;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: block;
  text-align: left;
  vertical-align: top;
}

  #compositionBody .formField {
    position: relative;
    vertical-align: top;
    border: thin solid black;
    background-color: #CEE1E8; /*#57A2DD;*/
    color: #252525;
    font-size: 0.8em;
    font-weight: bold;
    width: 120px;
    height: 20px;
    z-index: 1;
  }
  
  #compositionBody #topFieldsDiv {
    position: relative;
    top: 0;
    left: 0;
    vertical-align: middle;
    background-color: #252525; /*rgb(237, 237, 239);*/
    height: 20px;
    padding: 10px;    
  }
  
    #compositionBody #topFieldsDiv  .formField {
      float: left;
      margin-left: 50px;
    }
    
    #compositionBody .formField .formInnerDiv {
      margin-top: 2px;
      margin-left: 10px;
    }

  #compositionBody #content {
    clear: both;
    float: none;
    width: 100%;
  }
    #compositionBody #content #document {
      position: relative;
      width: 775px;
      height: 700px;
      background-color: #808080; /*#C8C8C8;*/
      overflow-y: auto;
    }   
      #compositionBody #content #document .innerDocument {
        width: 700px;
        margin-left: 25px;
      }
        #compositionBody #content #document .innerDocument .PDFPage {
          position: relative;
          clear: both;
          margin-top: 30px;
          width: 700px;
          height: 991px;
        }
          #compositionBody #content #document .innerDocument .PDFPage img {
            width: 700px;
            height: 991px;
            margin: 0;
            padding: 0;
          }       
          #compositionBody #content #document .innerDocument .PDFPage .PDFField {
            vertical-align: top;
            border: thin solid black;
            background: #F8F8F8;
          }

          #compositionBody #content #document .innerDocument .PDFPage .inputPDFField {
            vertical-align: top;
          }

          #compositionBody #content #document .innerDocument .PDFPage .signPDFField {
            vertical-align: top;
            width: 16px;
            height: 16px;
          }

  #compositionBody #sendDiv {
    background-color: #252525; /*rgb(237, 237, 239);*/
    color: #FEFEFE; /*rgb(38, 125, 195);*/
    padding: 10px;
  }
    #compositionBody #sendDiv  #bottomMessage {
      margin-right: 10px;
      font-size: 1em;
    }
      
  #compositionBody textarea {
    resize: none;
  }

  #compositionBody .ui-draggable:hover {
    cursor: move;
  }

  #compositionBody button {
  }

.compositionButtonGreen {
  font-size: 1.4em;
  background: #005826;
  color: white;
  padding: 5px 50px;
  border: none;
  margin: none;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
.compositionButtonGreen.activeButton {
  background: #28902D;
}
.activeButton:hover  {
  cursor: pointer;
  text-decoration: underline;
}
  
/* Composition tooltip blue style */
.qtip {
  max-width: 300px !important;
  min-width: 300px !important;
}
.qtip-composition-blue {
  background-color: #1086DE;
  border-style: none;
  color: #FFFFFF;
}
  .qtip-composition-blue .tooltipTitle {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
  }
  .qtip-composition-blue .tooltipContent {
    font-size: 1.2em;
    padding: 10px;
  }
